.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
