.header {
  background-color: black;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__title {
    color: white;
  }
  &__user {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    &__icon {
      width: auto;
      height: 6vh;
    }
    &__name {
      color: white;
    }
  }
  &__logOutButton {
    color: white;
  }
  &__loginButton {
    color: white;
  }
}
